/* Geral */
* {
    padding: 0; /* Remove o espaçamento interno de todos os elementos */
    margin: 0; /* Remove as margens de todos os elementos */
    font-family: Helvetica; /* Define a fonte padrão como Helvetica */
    box-sizing: border-box; /* Inclui o padding e as bordas dentro do tamanho total dos elementos */
}

body {
    background-image: url("../img/Boa_noite.png"); /* Define uma imagem de fundo (pode ser alterada conforme necessário) */
    background-size: cover; /* A imagem de fundo cobre todo o elemento body */
}

/* Botões */
button {
    background-color: #fdfdfd; /* Cor de fundo branca */
    color: #102f5e; /* Cor do texto azul escuro */
    border: 2px solid #102f5e; /* Borda de 2px de cor azul escuro */
    padding: .3rem .6rem; /* Espaçamento interno do botão */
    font-size: 1rem; /* Tamanho da fonte do botão */
    cursor: pointer; /* Muda o cursor para uma mão quando sobre o botão */
    display: flex; /* Exibe o botão como um flex container */
    justify-content: center; /* Centraliza horizontalmente o conteúdo do botão */
    align-items: center; /* Centraliza verticalmente o conteúdo do botão */
    transition: .4s; /* Transição suave para as propriedades modificadas */
}

button:hover {
    background-color: #102f5e; /* Muda a cor de fundo para azul escuro ao passar o mouse */
    color: #fdfdfd; /* Muda a cor do texto para branca ao passar o mouse */
}

button:hover i {
    color: #fdfdfd; /* Muda a cor dos ícones dentro do botão para branca ao passar o mouse */
}

button i {
    color: #102f5e; /* Define a cor dos ícones dentro do botão como azul escuro */
    font-weight: bold; /* Define o peso da fonte dos ícones como negrito */
    pointer-events: none; /* Desativa a interatividade dos ícones */
}

input, 
select {
    padding: .25rem; /* Adiciona espaçamento interno aos elementos input e select */
}

.hide {
    display: none; /* Esconde o elemento */
}

/* To-do Header */
.todo-container {
    max-width: 450px; /* Define a largura máxima do container da lista de tarefas */
    margin: 3rem auto; /* Centraliza o container horizontalmente com margem superior e inferior */
    background-color: #fdfdfd; /* Define a cor de fundo do container como branca */
    padding: 1.5rem; /* Adiciona espaçamento interno ao container */
    border-radius: 15px; /* Arredonda os cantos do container */
}

.todo-container header {
    text-align: center; /* Centraliza o texto no header */
    padding: 0 1rem 1rem; /* Adiciona espaçamento interno ao header */
    border-bottom: 1px solid #ccc; /* Adiciona uma borda inferior cinza ao header */
}

/* To-do form */
#todo-form {
    padding: 20px; /* Adiciona espaçamento interno ao formulário de tarefas */
    border-bottom: 1px solid #ccc; /* Adiciona uma borda inferior cinza ao formulário */
}

#edit-form {
    padding: 1rem; /* Adiciona espaçamento interno ao formulário de edição */
    border-bottom: 1px solid #ccc; /* Adiciona uma borda inferior cinza ao formulário */
    flex-direction: column; /* Define a direção dos elementos dentro do formulário de edição como coluna */
    align-items: center; /* Centraliza os itens horizontalmente no formulário */
}

#edit-form:first-child {
    flex-direction: column; /* Define a direção dos elementos do primeiro filho do formulário de edição como coluna */
}

.edit-form-mid {
    display: flex; /* Exibe os elementos como flex container */
    flex-direction: row; /* Alinha os elementos em uma linha */
}

#todo-form p,
#edit-form p {
    margin-bottom: .5rem; /* Define a margem inferior dos parágrafos no formulário de tarefas e de edição */
    font-weight: bold; /* Define o peso da fonte como negrito */
}

.form-control {
    display: flex; /* Exibe os elementos como flex container */
}

.form-control input {
    margin-right: .3rem; /* Adiciona margem à direita dos inputs dentro do form-control */
}

#cancel-edit-btn {
    margin-left: 1rem; /* Adiciona margem à esquerda do botão de cancelar edição */
}

/* Toolbar */
.toolbar {
    padding: 10px; /* Adiciona espaçamento interno à barra de ferramentas */
    display: flex; /* Exibe os elementos como flex container */
    justify-content: space-around; /* Distribui os elementos igualmente na barra de ferramentas */
    border-bottom: 1px solid #ddd; /* Adiciona uma borda inferior cinza claro à barra de ferramentas */
}

.toolbar form {
    display: flex; /* Exibe os elementos do formulário como flex container */
    justify-content: space-around; /* Distribui igualmente os elementos do formulário */
    padding-bottom: 10px; /* Adiciona espaçamento inferior ao formulário */
}

.toolbar h4 {
    padding-top: 10px; /* Adiciona espaçamento superior ao título h4 */
}

.pesquisa {
    display: flex; /* Exibe os elementos da pesquisa como flex container */
    align-items: center; /* Alinha verticalmente os itens da pesquisa */
    gap: 3px; /* Adiciona um espaço entre os itens da pesquisa */
}

#filter {
    width: 35%; /* Define a largura do filtro */
    display: flex; /* Exibe o filtro como flex container */
    flex-direction: column; /* Alinha os elementos do filtro em uma coluna */
    border-left: 1px solid #ddd; /* Adiciona uma borda esquerda ao filtro */
    padding-left: 10px; /* Adiciona espaçamento interno à esquerda do filtro */
}

/* To-do list */
.todo {
    display: flex; /* Exibe os itens da lista de tarefas como flex container */
    justify-content: space-around; /* Distribui igualmente os itens da lista */
    align-items: center; /* Alinha os itens verticalmente */
    padding: .5rem; /* Adiciona espaçamento interno aos itens da lista */
    border-bottom: 1px solid #ddd; /* Adiciona uma borda inferior aos itens da lista */
    transition: .3s; /* Transição suave para as propriedades modificadas */
}

.todo h3 {
    flex: 1; /* O título ocupa todo o espaço disponível */
    font-size: 0.9rem; /* Define o tamanho da fonte dos títulos */
}

.todo button {
    margin-left: .4rem; /* Adiciona margem à esquerda dos botões na lista de tarefas */
}

.done {
    background-color: #395169; /* Define a cor de fundo das tarefas concluídas */
}

.done h3 {
    color: #fff; /* Define a cor do texto das tarefas concluídas como branco */
    text-decoration: line-through; /* Adiciona um traço no meio do texto das tarefas concluídas */
    font-style: italic; /* Define o estilo da fonte como itálico para tarefas concluídas */
}
